.bg{
  max-width: 100%;
  max-height: 1000px;
}
.intro{
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  padding-bottom: 15%;
  justify-content: space-between;
  

}
.intro-font{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: antiquewhite;
  font-size-adjust: inherit;
  font-size: 85px;
}
.intro-head{
  font-size: 82px;
  color: aliceblue;
}
.intro-head2{
  font-size: 22px;
  color: aliceblue
}
.btn-con{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.licence{
  color: antiquewhite;
}
.btn{
  opacity: 0.7;
  flex: 1;
  max-height: 50px;
  justify-content: flex-start;
  max-width: 120px;
  background-color: rgb(201, 197, 197);
}
.img{
  max-width: 45px;
  
  max-height: 30px;
}
.feed-con{
  width: 100%;
  padding-top: 15%; 
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.fb-feed{


}
.twi-feed{
  
}